extends ../includes/template-pages
block main
  .rocat
    main.main
      h2.main__title(v-text="mainmenu[8].title")
      article.card
        figure.card__content
          img.card__img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
          figcaption
            h3.card__title Titulo de articulo
            a.card__link(href="")
              button.card__button Ver detalles
        figure.card__content
          img.card__img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
          figcaption
            h3.card__title Titulo de articulo
            a.card__link(href="")
              button.card__button Ver detalles
        figure.card__content
          img.card__img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
          figcaption
            h3.card__title Titulo de articulo
            a.card__link(href="")
              button.card__button Ver detalles
        figure.card__content
          img.card__img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
          figcaption
            h3.card__title Titulo de articulo
            a.card__link(href="")
              button.card__button Ver detalles
        figure.card__content
          img.card__img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
          figcaption
            h3.card__title Titulo de articulo
            a.card__link(href="")
              button.card__button Ver detalles
        figure.card__content
          img.card__img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
          figcaption
            h3.card__title Titulo de articulo
            a.card__link(href="")
              button.card__button Ver detalles