extends ../includes/template-pages
block main
  .presentacion
    .my-slider
      div(v-for="item in mainmenu")
        img.tns__img(:src="item.slide", :alt="item.title")
        h2.tns__title(v-text="item.title")