extends ../includes/template-pages
block main
  .rocat
    main.main
      h2.main__title Quienes somos
      .col50
        p.main__text <b>ROCAT</b> es una empresa nueva en el mercado boliviano, especializada en la importación y comercialización de Repuestos Industriales (RODAMIENTOS), Grasas y Lubricantes. Contamos con marcas líderes en el mercado Internacional, buscando principalmente solucionar los problemas y satisfacer las necesidades de nuestros clientes.
        p.main__text Trabajamos con proveedores estratégicos en varios países del mundo, contando con un equipo de logística de primer nivel para poder cumplir y atender seria y responsablemente a todos nuestros clientes. Nuestra característica principal es la entrega de rodamientos en un tiempo menor al de cualquier otra empresa de nuestro país.
      .col50
        iframe(width="100%" height="315" src="https://www.youtube.com/embed/0b5Vy4GZkvQ" frameborder="0" allowfullscreen)