extends ../includes/template-pages
block main
  .rocat
    main.main
      article.typeprod
        h2.main__title(v-text="mainmenu[0].title")
        .typeprod__content
          div
            .typeprod__img
              img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
              a(href="#"): span.typeprod__title Titulo de producto
            .typeprod__descrip
              p Descripción del producto Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dicta perspiciatis, nulla cupiditate quam quas doloribus odit iusto qui quae maiores tempore iure ad accusantium ullam nam veniam, voluptas possimus!  
            .typeprod__link: a(href="#") Ver artículos

        .typeprod__content
          div
            .typeprod__img
              img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
              a(href="#"): span.typeprod__title Titulo de producto
            .typeprod__descrip
              p Descripción del producto  
            .typeprod__link: a(href="#") Ver artículos
        .typeprod__content
          div
            .typeprod__img
              img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
              a(href="#"): span.typeprod__title Titulo de producto
            .typeprod__descrip
              p Descripción del producto  
            .typeprod__link: a(href="#") Ver artículos
        .typeprod__content
          div
            .typeprod__img
              img(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
              a(href="#"): span.typeprod__title Titulo de producto
            .typeprod__descrip
              p Descripción del producto  
            .typeprod__link: a(href="#") Ver artículos  


      article.card
        .card__content
          a(href="http://www.jugueteriahabilidades.com/img/nodisponible.png", data-caption="<h1><strong>NANDES 1<strong></h1> <p>A LO PACEÑO</p>")
            img.card__img.card__cover(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
            div
              h3.card__title Titulo de articulo
              .card__link
                button.card__button Ver detalles
        .card__content
          a(href="http://www.jugueteriahabilidades.com/img/nodisponible.png", data-caption="<h1><strong>NANDES 2<strong></h1> <p>A LO PACEÑO</p>")
            img.card__img.card__cover(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
            div
              h3.card__title Titulo de articulo
              .card__link
                button.card__button Ver detalles
        .card__content
          a(href="http://www.jugueteriahabilidades.com/img/nodisponible.png", data-caption="<h1><strong>NANDES 3<strong></h1> <p>A LO PACEÑO</p>")
            img.card__img.card__cover(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
            div
              h3.card__title Titulo de articulo
              .card__link
                button.card__button Ver detalles
        .card__content
          a(href="http://www.jugueteriahabilidades.com/img/nodisponible.png", data-caption="<h1><strong>NANDES 4<strong></h1> <p>A LO PACEÑO</p>")
            img.card__img.card__cover(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
            div
              h3.card__title Titulo de articulo
              .card__link
                button.card__button Ver detalles
        .card__content
          a(href="http://www.jugueteriahabilidades.com/img/nodisponible.png", data-caption="<h1><strong>NANDES 5<strong></h1> <p>A LO PACEÑO</p>")
            img.card__img.card__cover(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
            div
              h3.card__title Titulo de articulo
              .card__link
                button.card__button Ver detalles
        .card__content
          a(href="http://www.jugueteriahabilidades.com/img/nodisponible.png", data-caption="<h1><strong>NANDES 6<strong></h1> <p>A LO PACEÑO</p>")
            img.card__img.card__cover(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
            div
              h3.card__title Titulo de articulo
              .card__link
                button.card__button Ver detalles
        .card__content
          a(href="http://www.jugueteriahabilidades.com/img/nodisponible.png", data-caption="<h1><strong>NANDES 7<strong></h1> <p>A LO PACEÑO</p>")
            img.card__img.card__cover(src="http://www.jugueteriahabilidades.com/img/nodisponible.png", alt="")
            div
              h3.card__title Titulo de articulo
              .card__link
                button.card__button Ver detalles