// --- Headroom js
#header{
  &.header-initial {
  }
  &.header-nobottom {
  }
  &.header-down{
    .header__inicio{
      transform: translateY(-120%);
    }
  }
  &.header-notop {
    transform: translateY(-100%);
    .header__inicio, .header__logo{
      transform: translateY(-185%);
    }
    .header_index, .header_page {
      height: 0;
      @include to(xl){
        height: 145px;
      }
    }
    .header__logo{
      @include from(xl){
        opacity: 0;
      }
    }
  }
  &.header-up{
    transform: translateY(0);
    .header__inicio {
      transform: translateY(-10%);
      @include from(l){
        transform: translateY(45px);
      }
    }
    .header__logo{
      transform: translateY(-10%);
      @include to(l){
        position: relative;
        left: 0;
        top: 0;
      }
    }
    .header__menu{
      @include from(xl){
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
  }
  &.header-top{
    .header__menu{
      @include from(l){
        position: relative;
        top: 0;
        left: 0;
      }
    }
    .header__inicio{
      transform: translateY(-10%);
    }
  }
}

//----------------------------------------
.map{
  width: 100%;
  height: 380px;
}
.ah{
  color: $white;
  opacity: 0.3;
}
.marker{
  display: inline-block;
  padding: 0 4px;
  background: rgba(255, 255, 255, 0.445);
  color: lighten($black, 10);
  border-radius: 20px;
  box-shadow: 1px 1px 1px $black;
  &:hover{
    text-decoration: none;
    background: $white;
    color: $black;
  }
}
// Slider & carousel
.my-slider{
  position: relative;
  height: 100%;
}
.footer-carousel{
  background: $white;
  height: 116px;
  box-shadow: inset 0px 0 10px 0px black;
}
.tns__img, .tns__carousel{
  @include crossCenter;
  width: 100%;
  height: 100%;
}
.tns__img{
  object-fit: cover;
}
.tns__carousel{
  object-fit: contain;
  height: 100px;
  padding: 8px;
}
.social {
  padding-left: 0;
  text-align: center;
  margin-top: 10px;
    &__icon{
      display: inline-block;
    }
    a {
      text-decoration: none;
    }
    .icon-facebook, .icon-twitter, .icon-youtube {
    color: $black;
    background: radial-gradient(rgba(255, 255, 255, 0.67) 0,rgba(255, 255, 255, 0.43) 250%);
    box-shadow: 0 0 1px 0px $black;
      &:hover{
        // background: radial-gradient($black 0,transparent 250%);
        color: $white;
        transform: rotate(1turn);
      }
    }
}
.icon-facebook, .icon-twitter, .icon-youtube {
    @include mainCenter;
    width: 50px;
    height: 50px;
    padding-top: .55rem;
    font-size: 2rem;
    border-radius: 50px;
    transition: all .5s;
    margin: 0 5px;
    &:hover{
      text-shadow: 0px 1px 0px #fff;
    }
}
.icon-facebook:hover {
    background: #4862a3;
}
.icon-youtube:hover {
    background: #fd0000;
}
.icon-twitter:hover {
    background: #1ca0f1;
}