/* This boilerplate is based in ITCSS and SMACSS Boilerplate URI: https://gitlab.com/2062nandes/nandes-boilerplate Author: Fernando Averanga Aruquipa Author URI: nandes.ingssistemas@gmail.com Description: This boilerplate is based in ITCSS and SMACSS, based on Edgrid, EDboilerplate */
*,:after,:before { box-sizing: border-box; }

body { margin: 0; font-family: sans-serif; }

img { max-width: 100%; height: auto; }

a { text-decoration: none; color: #fff; }

a:hover { text-decoration: underline; }

a:active,a:focus,a:hover,button:focus { outline: 0; }

ul { margin: 0; text-align: initial; }

.center { text-align: center; }

.card,.main,.rocat,.typeprod { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; max-width: 1150px; margin-left: auto; margin-right: auto; width: 100%; }

#baguetteBox-overlay .full-image figcaption,#baguetteBox-overlay .full-image img,.card__content,.col30,.col50,.col70,.footer__item_0,.footer__item_1,.footer__item_2,.footer__li,.header__inicio,.header__logo,.header__menu,.item,.main,.main-ini__item,.main-ini__ul,.menu__item,.typeprod__content { margin: 0; padding-left: .3125em; padding-right: .3125em; }

.item { width: 100%; }

.item.rocat { padding-left: 0; padding-right: 0; }

.col50 { width: 100%; }

@media screen and (min-width:840px) { .col50 { width: 50%; } }

.col30 { width: 100%; }

@media screen and (min-width:550px) { .col30 { width: 50%; } }

@media screen and (min-width:840px) { .col30 { width: 30%; } }

.col70 { width: 100%; }

@media screen and (min-width:550px) { .col70 { width: 50%; } }

@media screen and (min-width:840px) { .col70 { width: 70%; } }

.body { background: linear-gradient(#1b1b1b,transparent 380%),url(../images/pattern.png) repeat 0 0; }

.presentacion { position: relative; height: 100vh; padding-top: 185px; }

img.rocat__logo { max-width: 280px; width: 280px; }

@media screen and (max-width:549px) { img.rocat__logo { width: 100%; } }

.header { position: fixed; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; padding: 14px 0; margin-bottom: 15px; z-index: 2; transition: all .5s; will-change: transform; }

@media screen and (max-width:1023px) { .header { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.header__inicio { width: 100%; right: 0; transition: all .5s; will-change: transform; }

@media screen and (min-width:840px) { .header__inicio { width: 40%; } }

@media screen and (min-width:1024px) { .header__inicio { width: 30%; } }

@media screen and (min-width:840px) { .header__inicio { position: absolute; } }

.header__logo { position: relative; width: 100%; text-align: center; transition: all .5s; will-change: transform; }

@media screen and (min-width:840px) { .header__logo { width: 22%; } }

@media screen and (max-width:1023px) { .header__logo { position: relative; } }

@media screen and (min-width:840px) { .header__logo img { max-width: 310px; } }

@media screen and (max-width:839px) { .header__logo img { max-width: 250px; } }

@media screen and (max-width:549px) { .header__logo img { width: 100%; } }

.header__menu { position: relative; width: 100%; transition: all .5s; will-change: transform; }

@media screen and (min-width:550px) { .header__menu { width: 50%; } }

@media screen and (min-width:840px) { .header__menu { width: 40%; } }

@media screen and (min-width:1024px) { .header__menu { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-line-pack: end; align-content: flex-end; } }

.header_index { position: absolute; top: 0; width: 100%; height: 185px; box-shadow: 0 0 15px #010101; transition: all .5s; will-change: transform; }

@media screen and (min-width:840px) { .header_index { background: linear-gradient(90deg,#ff6c23 24%,transparent); } }

.header_page { position: absolute; top: 0; width: 100%; height: 185px; box-shadow: 0 0 15px #010101; transition: all .5s; will-change: transform; }

@media screen and (min-width:840px) { .header_page { background: linear-gradient(90deg,#ff6c23 24%,#fff); } }

@media screen and (max-width:839px) { .header_page { background: linear-gradient(90deg,#f8d3c3,#ff6c23 20%,#ff6c23 80%,#f8d3c3); } }

.main { width: 100%; background: #fff; border-radius: 20px; margin-top: 205px; padding: 0; padding-bottom: 1px; margin-bottom: 20px; border: 5px ridge #ff6c23; background-clip: padding-box; box-shadow: inset 0 0 5px #010101; }

.main__title { position: relative; font-family: Copperplate,Arial Narrow,Arial,sans-serif; width: 100%; border-radius: 16px 16px 0 0; text-align: center; margin-top: 0; padding: 10px 10px 5px; color: #1b1b1b; font-size: 1.8rem; text-transform: uppercase; border-bottom: 3px solid #ff6c23; -o-border-image: linear-gradient(90deg,transparent,#ff6c23 50%,#ff6c23 0,#ff6c23 50%,transparent); border-image: linear-gradient(90deg,transparent,#ff6c23 50%,#ff6c23 0,#ff6c23 50%,transparent); border-image-slice: 1; }

.main__subtitle { box-shadow: inset 0 1px 0 0 #54a3f7; background: linear-gradient(#007dc1 5%,#0061a7) #007dc1; border-radius: 3px; border: 1px solid #124d77; color: #fff; text-shadow: #154682 0 1px 0; padding: 12px 15px; margin-bottom: 0; }

.main p { color: #010101; padding: 0 20px; margin-top: 0; font-size: 1.1rem; }

.footer { position: relative; background: linear-gradient(#ff6c23 30%,#ff9f70,#ff6c23 70%); color: #fff; box-shadow: 0 0 10px 0 #010101; padding-top: 10px; box-shadow: 2px 0 15px 0 #010101; }

.footer__ul { padding-left: 0; list-style: none; padding-left: 25px; }

.footer__li { width: 100%; margin-bottom: 3px; }

@media screen and (min-width:550px) { .footer__li { width: 50%; } }

@media screen and (min-width:840px) { .footer__li { width: 100%; } }

.footer__li a { position: relative; color: #010101; padding-left: 28px; }

.footer__li a:after { content: ""; position: absolute; top: 0; left: 0; width: 21px; height: 21px; background: transparent url(../images/R.png); background-size: 100%; }

.footer__item { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; position: relative; margin-bottom: 15px; }

.footer__item_0 { width: 100%; }

@media screen and (min-width:840px) { .footer__item_0 { width: 25%; } }

.footer__item_1 { width: 100%; }

@media screen and (min-width:840px) { .footer__item_1 { width: 45%; } }

.footer__item_2 { width: 100%; }

@media screen and (min-width:840px) { .footer__item_2 { width: 30%; } }

.footer__itemcontent { width: 100%; border-radius: 20px; background-clip: padding-box; }

.footer__title { font-family: Copperplate,Arial Narrow,Arial,sans-serif; color: #010101; margin: 0; padding: 10px; text-align: center; border-radius: 18px 18px 0 0; border-bottom: 2.5px solid #606060; -o-border-image: linear-gradient(90deg,transparent,#000 50%,#000 0,#000 50%,transparent); border-image: linear-gradient(90deg,transparent,#000 50%,#000 0,#000 50%,transparent); border-image-slice: 1; padding-bottom: 4px; margin-bottom: 10px; }

.footer__text { color: #010101; padding: 0 20px; }

.footer__copyright { width: 100%; -ms-flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; border-top: 1px solid #ff8b51; }

.footer__copyright,.main-ini { display: -webkit-box; display: -ms-flexbox; display: flex; }

.main-ini { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; margin-bottom: 10px; }

.main-ini__ul { padding-left: 0; width: 100%; list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; }

.main-ini__item { width: 33%; }

.main-ini__button { width: 100%; color: #fff; background: rgba(56,56,56,.57); text-shadow: 0 0 5px #010101; font-size: .9rem; font-weight: 600; border: none; border-radius: 20px; padding: 6px 15px; cursor: pointer; }

.main-ini__button:hover { color: #010101; background: hsla(0,0%,100%,.8); text-shadow: 0 0 5px #fff; box-shadow: inset 0 0 6px #010101; }

.menu { width: 100%; position: relative; }

@media screen and (max-width:1023px) { .menu { position: absolute; top: 0; left: -100%; transition: all .8s; } }

.menu__ul { padding-left: 0; list-style: none; }

@media screen and (min-width:840px) { .menu__ul { display: -webkit-box; display: -ms-flexbox; -ms-flex-wrap: wrap; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -ms-flex-line-pack: end; align-content: flex-end; display: flex; flex-wrap: wrap; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } }

.menu__item { width: 100%; margin-bottom: 2px; z-index: 0; }

@media screen and (min-width:1024px) { .menu__item { width: 11.11111%; } }

.menu__button { width: 100%; padding: 10px 6px; font-size: .9rem; font-weight: 600; cursor: pointer; color: #fff; background: linear-gradient(#010101,#4e4e4e); background-clip: padding-box; border: 6px ridge #b3b3b3; border-radius: 0 0 0 20px; box-shadow: inset 5px -5px 10px 0 #010101; transition: all .5s; }

.menu__button:hover,.menu__button_active { color: #010101; background: linear-gradient(#fff,#b3b3b3); background-clip: padding-box; border: 6px ridge #ff6c23; border-radius: 10px; box-shadow: inset 0 0 5px 0 #010101,0 0 3px 1px #010101; }

.toggle-main { position: relative; transition: all .5s; }

@media screen and (min-width:1024px) { .toggle-main { display: none; } }

.toggle_active { left: 0; }

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

input[type=number] { -moz-appearance: textfield; }

.form__label { width: 100%; color: #ff6c23; }

.form__input { width: 100%; background: #efefef; color: #000; border-radius: 5px; padding: 8px; margin-bottom: 5px; }

.form_buttons { text-align: center; }

.form__button { width: 40%; font-family: Copperplate,Copperplate Gothic Light,fantasy; font-size: 1.3rem; line-height: 1.1; padding: 10px; margin-left: 20px; margin-bottom: 15px; z-index: 1; will-change: transform; transition: all .3s ease-out; }

.form__button:hover { transition: all .2s ease-out; -webkit-transform: translate3d(-4px,4px,0); transform: translate3d(-4px,4px,0); }

.menu-aside { text-transform: uppercase; border: 2px ridge silver; padding: 0; background: #010101; margin-bottom: 15px; }

.menu-aside__button_main { position: relative; width: 100%; height: 50px; cursor: pointer; background: linear-gradient(#f50,#ff7835,#ff9e6e,#ff7835,#f50); color: #010101; font-size: 1.1rem; font-weight: 600; text-transform: uppercase; box-shadow: inset -2px 0 #fff; transition: all 1s; border: none; }

.menu-aside__button_main:after { content: ""; position: absolute; bottom: -10px; left: 50%; margin-left: -10px; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 10px solid #ed5406; z-index: 12; }

.menu-aside__button_main:hover { box-shadow: inset -300px 0 #fff; }

.menu-aside__button { width: 100%; height: 50px; text-transform: uppercase; }

.menu-aside__ul { list-style: none; padding-left: 0; }

.tns-outer { position: relative; height: 100%; padding: 0 !important; overflow: hidden; line-height: 0; margin-bottom: 15px; }

.tns-outer [hidden] { display: none !important; }

.tns-outer [aria-controls],.tns-outer [data-action] { cursor: pointer; }

.tns-outer.ms-touch { overflow-x: scroll; overflow-y: hidden; -ms-overflow-style: none; -ms-scroll-chaining: none; -ms-scroll-snap-type: mandatory; -ms-scroll-snap-points-x: snapInterval(0,100%); }

.tns-slider { transition: all 0s; }

.tns-slider>.tns-item { box-sizing: border-box; }

#tns1>.tns-item { position: relative; height: 100%; }

.tns-horizontal.tns-subpixel { white-space: nowrap; }

.tns-horizontal.tns-subpixel>.tns-item { display: inline-block; vertical-align: top; white-space: normal; }

.tns-horizontal.tns-no-subpixel:after { content: ""; display: table; clear: both; }

.tns-horizontal.tns-no-subpixel>.tns-item { float: left; margin-right: -100%; }

.tns-gallery,.tns-no-calc { position: relative; left: 0; }

.tns-gallery>.tns-item { position: absolute; left: -100%; transition:opacity 0s,-webkit-transform 0s; transition:transform 0s,opacity 0s; transition: transform 0s,opacity 0s,-webkit-transform 0s; }

.tns-lazy-img { transition: opacity .6s; opacity: .6; }

.tns-lazy-img.loaded { opacity: 1; }

.tns-ah { transition: height 0s; }

.tns-ovh { position: relative; width: 100%; height: 100%; overflow: hidden; }

.tns-hdx { overflow-x: hidden; }

.tns-hdy { overflow-y: hidden; }

.tns-visually-hidden { position: absolute; left: -10000em; }

.tns-transparent { opacity: 0; visibility: hidden; }

.tns-fadeIn { opacity: 1; filter: alpha(opacity=100); z-index: 0; }

.tns-fadeOut,.tns-normal { opacity: 0; filter: alpha(opacity=0); z-index: -1; }

.tns__title { position: absolute; bottom: 10px; left: 0; color: #fff; padding: 45px; border-radius: 0 20px 20px 0; font-size: 2.8rem; text-transform: uppercase; background: rgba(1,1,1,.5); }

.tns-controls,.tns-nav,[data-action] { position: absolute; z-index: 1; }

.tns-nav { bottom: 1%; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

[data-action] { top: 1%; left: 1%; width: 35px; height: 35px; line-height: 0; background: rgba(1,1,1,.2); border: none; }

[data-action]:hover { background: rgba(255,108,35,.4); }

.tns-controls { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

[data-controls] { background: transparent; color: #181818; text-shadow: 2px 0 0 #989898; font-size: 3rem; border: none; -webkit-transform: scaleY(2.5); transform: scaleY(2.5); }

[data-controls]:hover { color: #ff6c23; text-shadow: 2px 0 0 #010101; }

[data-nav] { border-radius: 50%; padding: 0; margin: 0 3px; width: 13px; height: 13px; background: rgba(1,1,1,.4); }

[data-nav]:hover { background: #ea6c30; }

[data-nav][aria-selected=true] { background: #ff6c23; }

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }

.animated.bounceIn,.animated.bounceOut,.animated.flipOutX,.animated.flipOutY { -webkit-animation-duration: .75s; animation-duration: .75s; }

@-webkit-keyframes a { 0% { opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes a { 0% { opacity: 0;
    -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInDown { -webkit-animation-name: a; animation-name: a; }

@-webkit-keyframes b { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes b { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0);
            transform: translate3d(-100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInLeft { -webkit-animation-name: b; animation-name: b; }

@-webkit-keyframes c { 0% { opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes c { 0% { opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInRight { -webkit-animation-name: c; animation-name: c; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes d { 0% { opacity: 0;
    -webkit-transform: translate3d(100%,0,0) rotate(-120deg);
            transform: translate3d(100%,0,0) rotate(-120deg); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }
@keyframes d { 0% { opacity: 0;
    -webkit-transform: translate3d(100%,0,0) rotate(-120deg);
            transform: translate3d(100%,0,0) rotate(-120deg); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.rollIn { -webkit-animation-name: d; animation-name: d; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes e { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0) rotate(-120deg);
            transform: translate3d(-100%,0,0) rotate(-120deg); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }
@keyframes e { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%,0,0) rotate(-120deg);
            transform: translate3d(-100%,0,0) rotate(-120deg); }
  to { opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.rollInLeft { -webkit-animation-name: e; animation-name: e; }

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
@-webkit-keyframes f { 0% { opacity: 1; }
  to { opacity: 0;
    -webkit-transform: translate3d(100%,0,0) rotate(120deg);
            transform: translate3d(100%,0,0) rotate(120deg); } }
@keyframes f { 0% { opacity: 1; }
  to { opacity: 0;
    -webkit-transform: translate3d(100%,0,0) rotate(120deg);
            transform: translate3d(100%,0,0) rotate(120deg); } }

.rollOut { -webkit-animation-name: f; animation-name: f; }

.typeprod { width: 100%; padding: 10px 2%; }

.typeprod__content { width: 50%; padding: 10px; }

@media screen and (min-width:550px) { .typeprod__content { width: 33.33333%; } }

@media screen and (min-width:840px) { .typeprod__content { width: 25%; } }

.typeprod__content>div { box-shadow: 0 0 5px #010101; }

.typeprod__img { position: relative; height: 200px; overflow: hidden; }

.typeprod__img:after { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 200px; background: linear-gradient(rgba(0,0,0,.075),transparent,rgba(0,0,0,.075)),linear-gradient(90deg,rgba(0,0,0,.075),transparent,rgba(0,0,0,.075)); }

.typeprod__img img { max-width: none; height: 200px; width: 100%; -o-object-fit: contain; object-fit: contain; }

.typeprod__title { position: absolute; bottom: 1.9%; left: 0; padding-left: 10px; color: #010101; font-family: Copperplate,Arial Narrow,Arial,sans-serif; font-size: 1.5rem; opacity: .9; }

.typeprod__descrip { max-height: 5rem; padding-left: 10px; border-top: 1px solid silver; overflow: hidden; margin-bottom: 15px; }

.typeprod__descrip p { line-height: 1.4; }

.typeprod__link { position: relative; border-top: 1px solid silver; text-align: center; padding: 10px; background: #f1f1f1; }

.typeprod__link a { padding: 10px; color: #ff6c23; font-weight: 600; }

.typeprod__link a:hover { text-decoration: none; color: #ef4f00; }

.card { width: 100%; padding: 0 3%; }

.card__content { width: 33.33333%; margin-bottom: 20px; color: #010101; }

@media screen and (min-width:550px) { .card__content { width: 25%; } }

@media screen and (min-width:840px) { .card__content { width: 20%; } }

@media screen and (min-width:1024px) { .card__content { width: 16.66667%; } }

@media screen and (max-width:379px) { .card__content { width: 50%; } }

.card__title { text-align: center; margin: 10px 2px; color: #010101; }

.card__img { border: 3px double #e96c33; }

.card__contain,.card__cover { height: 170px; }

.card__cover { -o-object-fit: cover; object-fit: cover; }

.card__contain { -o-object-fit: contain; object-fit: contain; }

.card__link { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.card__button { display: block; padding: 12px 15px; cursor: pointer; box-shadow: inset 0 1px 0 0 #54a3f7; background: linear-gradient(#007dc1 5%,#0061a7) #007dc1; border-radius: 3px; border: 1px solid #124d77; color: #fff; text-shadow: #154682 0 1px 0; }

.card__button,.card a:hover { text-decoration: none; }

/*! baguetteBox.js @author  feimosi @version %%INJECT_VERSION%% @url https://github.com/feimosi/baguetteBox.js */
#baguetteBox-overlay { display: none; opacity: 0; position: fixed; overflow: hidden; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000000; background-color: #222; background-color: rgba(0,0,0,.8); transition: opacity .5s ease; }

#baguetteBox-overlay.visible { opacity: 1; }

#baguetteBox-overlay .full-image { display: inline-block; position: relative; width: 100%; height: 100%; text-align: center; }

#baguetteBox-overlay .full-image figure { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0; height: calc(100% - 40px); width: 80%; overflow: auto; margin: auto; background: #fff; border-radius: 15px; border: 5px ridge #ff6c23; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-flow: column-reverse; flex-flow: column-reverse; }

@media screen and (min-width:840px) { #baguetteBox-overlay .full-image figure { -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse; flex-direction: row-reverse; } }

#baguetteBox-overlay .full-image img { display: inline-block; -o-object-fit: contain; object-fit: contain; width: 100%; height: 100%; vertical-align: middle; box-shadow: 0 0 8px rgba(0,0,0,.6); }

@media screen and (min-width:840px) { #baguetteBox-overlay .full-image img { width: 60%; } }

@media screen and (min-width:1024px) { #baguetteBox-overlay .full-image img { width: 75%; } }

#baguetteBox-overlay .full-image figcaption { display: block; position: relative; bottom: 0; width: 100%; overflow-x: hidden; overflow-y: auto; text-align: center; line-height: 1.8; white-space: normal; color: #ccc; background-color: #000; background-color: rgba(0,0,0,.6); font-family: sans-serif; border-radius: 0 9px 11px 0; }

@media screen and (min-width:840px) { #baguetteBox-overlay .full-image figcaption { width: 40%; } }

@media screen and (min-width:1024px) { #baguetteBox-overlay .full-image figcaption { width: 25%; } }

@media screen and (min-width:840px) { #baguetteBox-overlay .full-image figcaption { height: 100%; } }

#baguetteBox-overlay .full-image:before { content: ""; display: inline-block; margin-right: -1px; }

#baguetteBox-slider { position: absolute; left: 0; top: 0; height: 100%; width: 100%; white-space: nowrap; transition:left .4s ease,-webkit-transform .4s ease; transition:left .4s ease,transform .4s ease; transition: left .4s ease,transform .4s ease,-webkit-transform .4s ease; }

#baguetteBox-slider.bounce-from-right { -webkit-animation: g .4s ease-out; animation: g .4s ease-out; }

#baguetteBox-slider.bounce-from-left { -webkit-animation: h .4s ease-out; animation: h .4s ease-out; }

@-webkit-keyframes g { 0% { margin-left: 0; }
  50% { margin-left: -30px; }
  to { margin-left: 0; } }

@keyframes g { 0% { margin-left: 0; }
  50% { margin-left: -30px; }
  to { margin-left: 0; } }

@-webkit-keyframes h { 0% { margin-left: 0; }
  50% { margin-left: 30px; }
  to { margin-left: 0; } }

@keyframes h { 0% { margin-left: 0; }
  50% { margin-left: 30px; }
  to { margin-left: 0; } }

.baguetteBox-button#next-button,.baguetteBox-button#previous-button { top: 50%; top: calc(50% - 30px); width: 44px; height: 60px; }

.baguetteBox-button { position: absolute; cursor: pointer; outline: none; padding: 0; margin: 0; border: 0; border-radius: 15%; background-color: #323232; background-color: rgba(50,50,50,.5); color: #ddd; font: 1.6em sans-serif; transition: background-color .4s ease; }

.baguetteBox-button:focus,.baguetteBox-button:hover { background-color: rgba(50,50,50,.9); }

.baguetteBox-button#next-button { right: 2%; }

.baguetteBox-button#previous-button { left: 2%; }

.baguetteBox-button#close-button { top: 20px; right: 2%; right: calc(2% + 6px); width: 30px; height: 30px; }

.baguetteBox-button svg { position: absolute; left: 0; top: 0; }

/*
    Preloader
    Borrowed from http://tobiasahlin.com/spinkit/
*/
.baguetteBox-spinner { width: 40px; height: 40px; display: inline-block; position: absolute; top: 50%; left: 50%; margin-top: -20px; margin-left: -20px; }

.baguetteBox-double-bounce1,.baguetteBox-double-bounce2 { width: 100%; height: 100%; border-radius: 50%; background-color: #fff; opacity: .6; position: absolute; top: 0; left: 0; -webkit-animation: i 2s infinite ease-in-out; animation: i 2s infinite ease-in-out; }

.baguetteBox-double-bounce2 { -webkit-animation-delay: -1s; animation-delay: -1s; }

@-webkit-keyframes i { 0%,to { -webkit-transform: scale(0); transform: scale(0); }
  50% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes i { 0%,to { -webkit-transform: scale(0); transform: scale(0); }
  50% { -webkit-transform: scale(1); transform: scale(1); } }

@font-face { font-family: Copperplate; src: url(../fonts/FrancoisOne.ttf) format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: untitled-font-1; src: url(../fonts/untitled-font-1.eot); src: url(../fonts/untitled-font-1.eot?#iefix) format("embedded-opentype"),url(../fonts/untitled-font-1.woff) format("woff"),url(../fonts/untitled-font-1.ttf) format("truetype"),url(../fonts/untitled-font-1.svg#untitled-font-1) format("svg"); font-weight: 400; font-style: normal; }

[data-icon]:before { content: attr(data-icon); }

[class*=" icon-"]:before,[class^=icon-]:before,[data-icon]:before { font-family: untitled-font-1 !important; font-style: normal !important; font-weight: 400 !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before { content: "\66"; }

.icon-twitter:before { content: "\67"; }

.icon-youtube:before { content: "\61"; }

.icon-marker:before { content: "\62"; }

.whatsapp { position: relative; padding-left: 35px; padding-top: 7px; padding-bottom: 7px; }

.whatsapp:after { content: ""; position: absolute; width: 30px; height: 30px; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: url(../images/whatsapp.png); }

#header.header-down .header__inicio { -webkit-transform: translateY(-120%); transform: translateY(-120%); }

#header.header-notop { -webkit-transform: translateY(-100%); transform: translateY(-100%); }

#header.header-notop .header__inicio,#header.header-notop .header__logo { -webkit-transform: translateY(-185%); transform: translateY(-185%); }

#header.header-notop .header_index,#header.header-notop .header_page { height: 0; }

@media screen and (max-width:1023px) { #header.header-notop .header_index,#header.header-notop .header_page { height: 145px; } }

@media screen and (min-width:1024px) { #header.header-notop .header__logo { opacity: 0; } }

#header.header-up { -webkit-transform: translateY(0); transform: translateY(0); }

#header.header-up .header__inicio { -webkit-transform: translateY(-10%); transform: translateY(-10%); }

@media screen and (min-width:840px) { #header.header-up .header__inicio { -webkit-transform: translateY(45px); transform: translateY(45px); } }

#header.header-up .header__logo { -webkit-transform: translateY(-10%); transform: translateY(-10%); }

@media screen and (max-width:839px) { #header.header-up .header__logo { position: relative; left: 0; top: 0; } }

@media screen and (min-width:1024px) { #header.header-up .header__menu { position: absolute; top: 5px; left: 0; } }

@media screen and (min-width:840px) { #header.header-top .header__menu { position: relative; top: 0; left: 0; } }

#header.header-top .header__inicio { -webkit-transform: translateY(-10%); transform: translateY(-10%); }

.map { width: 100%; height: 380px; }

.ah { color: #fff; opacity: .3; }

.marker { display: inline-block; padding: 0 4px; background: hsla(0,0%,100%,.445); color: #1b1b1b; border-radius: 20px; box-shadow: 1px 1px 1px #010101; }

.marker:hover { text-decoration: none; background: #fff; color: #010101; }

.my-slider { position: relative; height: 100%; }

.footer-carousel { background: #fff; height: 116px; box-shadow: inset 0 0 10px 0 #000; }

.tns__carousel,.tns__img { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: center; align-content: center; width: 100%; height: 100%; }

.tns__img { -o-object-fit: cover; object-fit: cover; }

.tns__carousel { -o-object-fit: contain; object-fit: contain; height: 100px; padding: 8px; }

.social { padding-left: 0; text-align: center; margin-top: 10px; }

.social__icon { display: inline-block; }

.social a { text-decoration: none; }

.social .icon-facebook,.social .icon-twitter,.social .icon-youtube { color: #010101; background: radial-gradient(hsla(0,0%,100%,.67) 0,hsla(0,0%,100%,.43) 250%); box-shadow: 0 0 1px 0 #010101; }

.social .icon-facebook:hover,.social .icon-twitter:hover,.social .icon-youtube:hover { color: #fff; -webkit-transform: rotate(1turn); transform: rotate(1turn); }

.icon-facebook,.icon-twitter,.icon-youtube { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 50px; height: 50px; padding-top: .55rem; font-size: 2rem; border-radius: 50px; transition: all .5s; margin: 0 5px; }

.icon-facebook:hover,.icon-twitter:hover,.icon-youtube:hover { text-shadow: 0 1px 0 #fff; }

.icon-facebook:hover { background: #4862a3; }

.icon-youtube:hover { background: #fd0000; }

.icon-twitter:hover { background: #1ca0f1; }

/*# sourceMappingURL=styles.css.map */
