doctype html
html(lang="es" prefix="og: http://ogp.me/ns#")
  head
    title ROCAT IMPORTACIONES. Venta de Rodamientos, retenes, chumaceras, acoples, correas y cadenas.
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name='designer', content='Fernando Javier Averanga Aruquipa / nandes.ingsistemas@gmail.com')
    meta(name='description', content='Rocat Importaciones. Rodamientos, retenes, chumaceras, acoples, correas, cadenas. Cursos de capacitación: Alineación de ejes, Introducción a los rodamientos, montaje y desmontaje,  ajustes y tolerancias, lubricación, transmisión de potencia, fallas de rodamiento, termografía.')
    meta(property="og:title" content="ROCAT IMPORTACIONES.")
    meta(property="og:description" content="Rocat Importaciones. Rodamientos, retenes, chumaceras, acoples, correas, cadenas. Cursos de capacitación: Alineación de ejes, Introducción a los rodamientos, montaje y desmontaje,  ajustes y tolerancias, lubricación, transmisión de potencia, fallas de rodamiento, termografía.")  
    meta(name='author', content='')
    meta(name='keywords', content='')
    link(rel="stylesheet" href="/css/styles.css")
  body.body
    #app
      header#header.header
        .header_page
        .header__inicio
          nav.main-ini
            ul.main-ini__ul
              li.main-ini__item.wow.fadeInDown(v-for="item in menuinicio", data-wow-duration="1s", :data-wow-delay="item.delay"): a.main-ini__link(:href="item.href"): button.main-ini__button(v-text = 'item.title')
        .header__logo.wow.fadeInLeft(data-wow-duration="1s", data-wow-delay="0.5s")
          a.rocat__logo(href="/"): img(src="/images/rocat-importaciones.png", alt="ROCAT IMPORTACIONES")
        .toggle-main.menu__item.wow.rollIn(data-wow-duration="1s", data-wow-delay="1.0"): button(v-on:click="toggleMenu", :class="{menu__button_active: toggle}").menu__button Menú
        .header__menu
          nav.menu(:class="{toggle_active: toggle}")
            ul.menu__ul
              li.menu__item.wow.rollIn(v-for="item in mainmenu", data-wow-duration="1s", :data-wow-delay="item.delay"): a.menu__link(:href="item.href"): button.menu__button(v-text = 'item.title')
      block main
      section.footer-carousel
        .carousel
          div(v-for="item in proveedores")
            img.tns__carousel(:src="item.src", :alt="item.title")
            
      footer.footer
        .rocat
          .footer__item.footer__item_0
            .footer__itemcontent.wow.fadeInRight(data-wow-duration="1.5s", data-wow-delay=".0s")
              h2.footer__title Productos y servicios
              ul.footer__ul.rocat
                li.footer__li(v-for="item in mainmenu"): a(:href="item.href"): span(v-text="item.title")
          .footer__item.footer__item_1
            .footer__itemcontent
              h2.footer__title ROCAT IMPORTACIONES - BOLIVIA
              p.footer__text <span><b>LA PAZ:</b> Zona Miraflores, c. Guerrilleros Lanza # 1246,</span><span>(entre San Salvador y Guatemala) </span><a class="marker" :href="menuinicio[2].href"><span><i class="icon icon-marker"></i> <strong> VER MAPA </strong></span></a>
              p.footer__text <span><b>Telf.:</b> 2223443 – Fax: 2223497</span><br><span><strong>Cels.:</strong> <span class="whatsapp">72592933 - 78788680 – 77669661</span></span>
              p.footer__text <span><b>EL ALTO:</b> Zona 12 de Octubre, Av. 6 de Marzo # 250,</span><span>(entre Cruce Viacha y surtidor Victoria) </span><a class="marker" :href="menuinicio[2].href"><span><i class="icon icon-marker"></i> <strong> VER MAPA </strong></span></a>
              p.footer__text <strong>Cel.:</strong>  <span class="whatsapp">71551436 </span>
              //- a.main-footer__link(:href="menuinicio[2].href") <i class="icon icon-marker"></i> <strong> VER MAPA </strong>
          .footer__item.footer__item_2
            .footer__itemcontent.wow.fadeInLeft(data-wow-duration="1.5s", data-wow-delay=".0s")
              h2.footer__title Siguenos en: 
              ul.social.footer__social
                li.social__icon: a(href="https://www.facebook.com/ROCAT-Importaciones-1481306431923656/", target="_blank"): i.icon-facebook
                li.social__icon: a(href="https://www.youtube.com/watch?v=0b5Vy4GZkvQ", target="_blank"): i.icon-youtube
                li.social__icon: a(href="#", target="_blank"): i.icon-twitter
              p.footer__text.center adalberto@rocatbolivia.com
          .footer__copyright
            p.footer__text Todos los Derechos Reservados ®. <span><strong>Rocat Importaciones.</strong> © <span id="currentDate"></span></span><br>
            a.footer__text.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD
    script(src="/js/scripts.js")
