.col50{
  @include edItem(100,100,50,50);
}
.col30{
  @include edItem(100, 50, 30);
}
.col70{
  @include edItem(100, 50, 70);
}
.body{
  background: linear-gradient(lighten($black, 10),transparent 380%),url(../images/pattern.png) repeat 0 0;
}
.presentacion{
  position: relative;
  height: 100vh;
  padding-top: 185px;
}
img.rocat__logo{
  max-width: 280px;
  width: 280px;
  @include to(m){
    width: 100%;
  }
}
.header{
  position: fixed;
  width: 100%;
  @include mainStart;
  padding: 14px 0;
  margin-bottom: 15px;
  z-index: 2;
  transition: .5s all;
  will-change: transform;
  @include to(xl){
    flex-direction: column;
  }
  &__inicio{
    @include edItem(100, 100, 40, 30);
    right: 0;
    transition: .5s all;
    will-change: transform;
    @include from(l){
      position: absolute;   
    }
  }
  &__logo{
    position: relative;
    @include edItem(100, 100, 22);
    text-align: center;
    transition: .5s all;
    will-change: transform;
    @include to(xl){
      position: relative;
    }
    img{
      @include from(l){
        max-width: 310px;
      }
      @include to(l){
        max-width: 250px;
      }
      @include to(m){
        width: 100%;
      }
    }
  }
  &__menu{
    position: relative;
    @include edItem(100, 50, 40, 100);
    transition: .5s all;
    will-change: transform;
    @include from(xl){
      @include crossEnd;
    }
  }
  &_index{
    position: absolute;
    top: 0;
    width: 100%;
    height: 185px;
    box-shadow: 0 0 15px #010101;
    transition: .5s all;
    will-change: transform;
    @include from(l){
      background: linear-gradient(90deg,$orange 24%, transparent);
    }
  }
  &_page{
    position: absolute;
    top: 0;
    width: 100%;
    height: 185px;
    box-shadow: 0 0 15px #010101;
    transition: .5s all;
    will-change: transform;
    @include from(l){
      background: linear-gradient(90deg,$orange 24%, $white);
    }
    @include to(l){
      background: linear-gradient(90deg,#f8d3c3 0%,$orange 20%,$orange 80%,#f8d3c3 100%);
    }
  }
}
.main{
  @include edContainer;
  @include edItem(100);
  background: white;
  border-radius: 20px;
  margin-top: 205px;
  padding: 0;
  padding-bottom: 1px;
  margin-bottom: 20px;
  border: ridge 5px $orange;
  background-clip: padding-box;
  box-shadow: inset 0 0 5px $black;
  &__title{
    position: relative;
    font-family: Copperplate,Arial Narrow,Arial,sans-serif;
    width: 100%;
    border-radius: 16px 16px 0 0 ;
    text-align: center;
    margin-top: 0;
    padding: 10px 10px 5px 10px;
    color: lighten($black, 10);
    font-size: 1.8rem;
    text-transform: uppercase;
    border-bottom: 3px solid $orange;
    border-image: linear-gradient(90deg,transparent,$orange 50%,$orange 0,$orange 50%,transparent);
    border-image-slice: 1;
  }
  &__subtitle{
    box-shadow: inset 0 1px 0 0 #54a3f7;
    background: linear-gradient(#007dc1 5%,#0061a7) #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    color: #fff;
    text-shadow: #154682 0 1px 0;
    padding: 12px 15px;
    margin-bottom: 0;
  }
  // &__text{
  //   color: $black;
  //   padding: 0 20px;
  //   margin-top: 0;
  //   font-size: 1.1rem;
  // }
  p{
    color: $black;
    padding: 0 20px;
    margin-top: 0;
    font-size: 1.1rem;
  }
}
.footer{
  position: relative;
  background: linear-gradient($orange 30%, lighten($orange, 15), $orange 70%);
  color: $white;
  box-shadow: 0 0 10px 0px $black;
  padding-top: 10px;
  box-shadow: 2px 0px 15px 0 $black;
  &__ul{
    padding-left: 0;
    list-style: none;
    padding-left: 25px;
  }
  &__li{
    @include edItem(100,50,100,100);
    margin-bottom: 3px;
    a{
      position: relative;
      color: $black;
      padding-left: 28px;
      &::after{
        content: '';
        position: absolute;
        top:0;
        left: 0;
        width: 21px;
        height: 21px;
        background: transparent url(../images/R.png);
        background-size: 100%;
      }
    }
  }
  &__item{
    @include mainStart;
      position: relative;
      margin-bottom: 15px;
    &_0{
        @include edItem(100,100,25);
    }
    &_1{
      @include edItem(100,100,45);
    }
    &_2{
      @include edItem(100,100,30);
    }
    &content{
      width: 100%;
      border-radius: 20px;
      background-clip: padding-box;
    }
  }
  &__title{
    font-family: 'Copperplate', 'Arial Narrow', Arial, sans-serif;
    color: $black;
    margin: 0;
    padding: 10px 10px;
    text-align: center;
    border-radius: 18px 18px 0 0;
    border-bottom: 2.5px solid rgb(96, 96, 96);
    border-image: linear-gradient(90deg,rgba(0, 0, 0, 0) 0,#000000 50%,#000000 39%,#000000 50%,rgba(0, 0, 0, 0) 100%);
    border-image-slice: 1;
    padding-bottom: 4px;
    margin-bottom: 10px;
  }
  &__text{
    color: $black;
    padding: 0 20px;
  }
  &__copyright{
    width: 100%;
    @include mainJustify;
    @include crossCenter;
    border-top: 1px solid lighten($orange, 9);
  }
}