.typeprod{
  width: 100%;
  padding: 10px 2%;
  @include edContainer;
  &__content{
    @include edItem(50,33.33333,25);
    padding: 10px;
    & > div{
      box-shadow: 0 0 5px #010101;
    }
  }
  &__img{
    position: relative;
    height: 200px;
    overflow: hidden;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(rgba(0, 0, 0, 0.075), transparent,rgba(0, 0, 0, 0.075)),linear-gradient(90deg,rgba(0, 0, 0, 0.075), transparent,rgba(0, 0, 0, 0.075));
    }
    & img{
      max-width: none;
      height: 200px;
      width: 100%;
      object-fit: contain;
    }
  }
  &__title{
    position: absolute;
    bottom: 1.9%;
    left: 0;
    padding-left: 10px;
    color: $black;
    font-family: Copperplate,Arial Narrow,Arial,sans-serif;
    font-size: 1.5rem;
    opacity: 0.9;
  }

  &__descrip{
    max-height: 5rem;
    padding-left: 10px;
    border-top: solid silver 1px;
    overflow: hidden;
    margin-bottom: 15px;
    p{

      line-height: 1.4
    }
  }
  &__link{
    position: relative;
    border-top: solid silver 1px;
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    & a{
      padding: 10px;
      color: $orange;
      font-weight: 600; 
      &:hover{
        text-decoration: none;
        color: darken($orange, 10);
      }     
    }
  }
}


.card{
  width: 100%;
  padding: 0px 3%;
  @include edContainer; 
  &__content{
    @include edItem(33.33333,25,20,16.666666667);
    margin-bottom: 20px;
    color: $black;
    @include to(380px){
      width: 50%;
    }
  }
  &__title{
    text-align: center;
    margin: 10px 2px;
    color: $black;
  }
  &__img{
    border: double 3px #e96c33;    
  }
  &__cover, &__contain{
    height: 170px;
  }
  &__cover{
    object-fit: cover;
  }
  &__contain{
    object-fit: contain;
  }
  &__link{
    // width: 100%;
    @include mainCenter;
  }
  &__button{
    display: block;
    padding: 12px 15px;
    cursor: pointer;
    box-shadow: inset 0 1px 0 0 #54a3f7;
    background: linear-gradient(#007dc1 5%,#0061a7) #007dc1;
    border-radius: 3px;
    border: 1px solid #124d77;
    color: #fff;
    text-decoration: none;
    text-shadow: #154682 0 1px 0;
  }
  a:hover{
    text-decoration: none;
  }
}
