.main-ini{
  @include mainEnd;
  margin-bottom: 10px;
  &__ul{
    padding-left: 0;
    @include edItem(100);
    list-style: none;
    display: flex;
  }
  &__item{
    @include edItem(33);
  }
  &__link{
  }
  &__button{
    width: 100%;
    color: $white;
    background: rgba(56, 56, 56, 0.57);
    text-shadow: 0 0 5px $black;
    font-size: .9rem;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    padding: 6px 15px;
    cursor: pointer;
    &:hover{
      color: $black;
      background: rgba($white, 0.8);
      text-shadow: 0 0 5px $white;
      box-shadow: inset 0 0 6px $black;
    }
  }
}
.menu{
  width: 100%;
  position: relative;
  @include to(xl){
    position: absolute;
    top: 0;
    left: -100%;
    transition: 0.8s all;
  }
  &__ul{
    padding-left: 0;
    list-style: none;
    @include from(l){
      @include crossEnd;
      @include mainEnd;
    }    
  }
  &__item{
    @include edItem(100,100,100,11.111111111);
    margin-bottom: 2px;
    z-index: 0;
  }
  &__link{
  }
  &__button{
    width: 100%;
    padding: 10px 6px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    color: $white;
    background: linear-gradient($black, lighten($black, 30));
    background-clip: padding-box;
    border: 6px ridge darken($white, 30);
    border-radius: 0 0 0 20px;
    box-shadow: inset 5px -5px 10px 0px $black;
    transition: 0.5s all;
    &_active, &:hover{
      color: $black;
      background: linear-gradient($white, darken($white, 30));
      background-clip: padding-box;
      border: 6px ridge $orange;
      border-radius: 10px;
      box-shadow: inset 0 0 5px 0 #010101, 0 0 3px 1px $black;
    }
  }
}
.toggle-main{
  @include hideFrom(xl);
  position: relative;
  transition: 0.5s all;
}
    .toggle_active{
      left: 0;
    }