.menu-aside{
  text-transform: uppercase;
  border: 2px ridge silver;
  padding: 0;
  background: $black;
  margin-bottom: 15px;
  &__button_main{
    position: relative;
    width: 100%;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(#ff5500,#ff7835,#ff9e6e,#ff7835,#ff5500);
    color: $black;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: inset -2px 0 white;
    transition: 1s all;
    border: none;
    &::after{
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #ed5406;
      z-index: 12;
    }
    &:hover{
      box-shadow: inset -300px 0 white;
    }
  }
  &__button{
    width: 100%;
    height: 50px;
    text-transform: uppercase;
  }
  &__nav{

  }
  &__ul{
    list-style: none;
    padding-left: 0;
  }
  &__item{

  }
  &__link{

  }
}